@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bgColor: #070707;
$textColor: #f0f0f0;
$baseFontFamily: "Quicksand", sans-serif;

$bgGradient1: #000000;
$bgGradient2: #292929;

$bgCircleGradient1: #24705a;
$bgCircleGradient2: #073427;

body {
  background: $bgColor;
  color: $textColor;
  font-family: $baseFontFamily;
  background: linear-gradient(90deg, $bgGradient1 0%, $bgGradient2 100%);
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-dot-c {
  .bg-dot {
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    position: absolute;
    bottom: -4rem;
    left: -5rem;
    background: linear-gradient(
      90deg,
      $bgCircleGradient1 0%,
      $bgCircleGradient2 96%
    );
    animation: float 6s ease-in-out infinite;
    &.right {
      left: unset;
      bottom: unset;
      top: 1rem;
      right: -3rem;
      width: 13rem;
      height: 13em;
      animation-delay: -2s;
      animation-duration: 5s;
    }
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translateY(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translateY(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translateY(0px);
    }
  }
}

.inner {
  position: relative;
  //   background: red;
}

.heading-text {
  width: 16rem;
  margin: 0 2rem;
  margin: 0 2rem 1.5rem;
  font-size: 1.1rem;
}

.card-container {
  color: $textColor;
  height: 18.5rem;
  width: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(16, 230, 72, 0.15) 0px -36px 30px 0px inset,
      rgba(16, 230, 72, 0.1) 0px -79px 40px 0px inset,
      rgba(16, 230, 72, 0.06) 0px 2px 1px, rgba(16, 230, 72, 0.09) 0px 4px 2px,
      rgba(16, 230, 72, 0.09) 0px 8px 4px, rgba(16, 230, 72, 0.09) 0px 16px 8px,
      rgba(16, 230, 72, 0.09) 0px 32px 16px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  &.ok {
    &:before {
      opacity: 0.5;
    }
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    width: 3rem;
    .dot {
      background: $textColor;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 100%;
      filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25));
    }
  }

  .heading {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.75));
  }

  .content {
    letter-spacing: -2px;
    font-family: "Cutive Mono", monospace;
    font-weight: 600;
    color: #b4b4b4;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
  }

  .c-n-i {
    background: none;
    position: absolute;
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border: 0;
    padding: 1rem 0;

    letter-spacing: -2px;
    font-family: "Cutive Mono", monospace;
    font-weight: 600;
    color: #b4b4b4;
    font-size: 2.25rem;
    color: $textColor;
    caret-color: $textColor;

    &:focus-visible {
      outline: none;
    }
  }

  $card-number-font-size: 2.25rem;

  .active {
    .heading {
      position: relative;
      font-size: 1rem;
      top: calc(100% - 1rem - 0.75rem);
    }
  }

  .card-number {
    input {
      pointer-events: auto;
    }
    &.active {
      .heading {
        transform: translateY(-50%);
      }
      input {
        pointer-events: none;
      }
    }
    .content {
      height: 2.25rem;
      font-size: 2.25rem;
      display: flex;
      font-weight: 600;
      .f-digit {
        margin-left: 1.25rem;
        &:nth-of-type(1) {
          margin-left: 0;
        }
      }
    }
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .content {
      font-size: 1.15rem;
    }
  }
}

$mt-s: 1.75rem;

.clickable {
  border-radius: 0.35rem;
  padding: 0.75rem;
  transition: all 0.3s ease;
  &.idle {
    background: rgba(0, 0, 0, 0.1);
  }
  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  &.idle {
    cursor: pointer;
    & > * {
      pointer-events: none;
    }
  }
}

.dynamic-input {
  .inner {
    // background: rgba(255, 255, 255, 0.25);
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.75));
    position: absolute;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .c-n-i-n {
    background: transparent;
    width: 100%;
    height: 2.5rem;
    border: 0;
    padding: 1rem 0;

    letter-spacing: -2px;
    font-family: "Cutive Mono", monospace;
    font-weight: 600;
    color: #b4b4b4;
    font-size: 2.25rem;
    color: $textColor;
    caret-color: $textColor;
    margin-top: $mt-s;
    // border: 1px solid white;

    &:focus-visible {
      outline: none;
    }

    &.filled ~ .heading,
    &:focus ~ .heading {
      font-size: 0.75rem;
      left: 0;
      top: 0;
      transform: translateX(0) translateY(0);
    }
  }

  &.sm {
    flex: 1 auto;
    &.ccv {
      flex: unset;
      max-width: 4rem;
    }
    &.exp-date {
      flex: unset;
      max-width: 6rem;
    }
    .inner {
      width: 100%;
    }
    .c-n-i-n {
      width: 100%;
      font-size: 1rem;
      margin-top: 0.5rem;
      // display: none;
    }
  }
}
